* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 26, 19);
}

a {
    font-family: "open sans";
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
}

ul {
    max-width: 500px;
    margin: 100px auto;
    border-radius: 5px;
    background-color: rgb(21, 63, 40);
}

li:hover {
    background-color: rgb(15, 26, 19);
}