* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    padding: 20px;
    background-image: url(bg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0px auto;
}

ul {
    border-radius: 5px;
    background-color: rgba(0, 40, 33, 0.5);
}

li {
    list-style-type: none;
    padding: 3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;    
    cursor: pointer;
}

li:hover a {
    color: #fff;
    font-size: 14px;
    padding: 0;
    border: none;
}

li:active a {
    color: #000;
}

a {
    display: block;
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #ccc;
    text-decoration: none;
    transition: all 0.5s ease;
}