* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    padding: 20px;
    background: rgba(76, 21, 87, 0.727);
    background: radial-gradient(circle, rgba(76, 21, 87, 0.727) 0%,rgb(0, 0, 0)) 100%;
}

.container {
    max-width: 400px;
    margin: 0px auto;
}

ul {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

li {
    list-style-type: none;
    padding: 3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;    
    cursor: pointer;
}

li:hover a {
    color: #fff;
    font-size: 14px;
    padding: 0;
    border: none;
}

li:active a {
    color: #000;
}

a {
    display: block;
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #ccc;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}