* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 10px;
}

:root {
    --black: #000;
    --gray: #BDBDBD;
    --darkgray: #545454;
    --white: #fff;
}

body {
    font-family: "PT Sans", sans-serif;
    color: var(--black);
}

.header {
    width: 100%;
    position: fixed;
    top:0;
    background-color: var(--white);
}

.header__container {
    margin: 13px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__language {
    border: none;
    font-family: "Tourney", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    background-color: var(--white);
    margin-right: 50px;
    cursor: pointer;
}

.nav {
    font-family: "Staatliches", sans-serif;
    font-size: 2.2rem;
    letter-spacing: 0.03em;
}

.header__link {
    color: var(--black);
    text-decoration: none;
}

.header__link:hover {
    color: var(--darkgray)
}

.header__slash {
    margin-right: 10px;
    margin-left: 10px;
}

.main__container {
    max-width: 1200px;
    margin: 83px auto 90px auto;
    display: flex;
}

.aside {
    max-width: 33%;
}

.aside__sticky {
    max-width: 100%;
    position: sticky; 
    top: 100px;
}

.aside__link {
    display: block;
    border-bottom: 1px solid var(--gray);
}

.aside__link + .aside__link {
    margin-top: 70px;
}

.aside__link--color {
    color: var(--black);
}

.aside__link:hover {
    color: var(--darkgray)
}

.aside__link--decoration {
    text-decoration: none;
}

.content {
    max-width: 68%;
    margin-left: 30px;
}

.content__bg {
    position: fixed;
    z-index: -10;
    right: 0;
}

.title {
    font-family: "Francois One", sans-serif;
    font-size: 3.6rem;
    line-height: 4.8rem;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: 0.04em;
    z-index: -10;
}

.title__pb-9 {
    padding-bottom: 9px;
}

.title__before {
    padding-top: 28px;
    position: relative;
}

.title__line::before {
    content: " ";
    height: 8px;
    width: 100px;
    background-color: var(--black);
    top: 0;
    left: 0;
    position: absolute;
}

.title__sup {
    font-family: "Farro", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.04em;
    text-transform: none;
    position: absolute;
    top: 20px;
} 

.main__text {
    max-width: 785px;
    font-size: 2.8rem;
    line-height: 4.8rem;
    margin: 40px 0 70px 0;
}

.text__bg {
    background-color: var(--gray);
}

.main__text--mb-0 {
    margin-bottom: 0;
}