.header {
    @include container;
    margin: 38px auto;

    &_logo {
        font-family: 'Lato';
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: $black;
    }

    @media (min-width: 1441px) {
        @include container;

        .header_logo {
            font-size: 30px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        max-width: 91.2%;
    }
}
