.main {
    @include container;

    .first-screen {
        &__title {
            font-family: 'Red Hat Display';
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.05em;
            margin-bottom: 70px;
        }

        &__img {
            width: 100%;
            align-self: center;
        }
        //-------------------------FIRST-SCREEN'S RESPONSIVE---------------------------//
        @media (min-width: 1441px) {
            &__title {
                font-size: 68px;
                margin-bottom: 58px;
            }
        }

        @media (max-width: 992px) {
            &__title {
                font-size: 33px;
                margin-bottom: 50px;
            }
        }

        @media (max-width: 480px) {
            &__title {
                font-size: 30px;
                line-height: 50px;
                margin-bottom: 40px;
            }
        }
    }

    .overview {
        max-width: 48.7%;    
    }

    .blog__img {
        width: 100%;
        margin-bottom: 20px;
    }

    //-------------------------OVERVIEW RESPONSIVE---------------------------//
    
    @media (max-width: 992px) {
        .overview {
            max-width: 100%;
        }
    }

    //-------------------------MAIN'S RESPONSIVE---------------------------//

    @media (min-width: 1920px) {
        @include container1920;
    }

    @media (max-width: 992px){
        max-width: 91.2%;
    }

    @media (max-width: 480px) {
        max-width: 93.8%;
    }
}