.header {
  max-width: 81.3%;
  margin-left: auto;
  margin-right: auto;
  margin: 38px auto;
}
.header_logo {
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000;
}
@media (min-width: 1441px) {
  .header {
    max-width: 81.3%;
    margin-left: auto;
    margin-right: auto;
  }
  .header .header_logo {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .header {
    max-width: 91.2%;
  }
}
.main {
  max-width: 81.3%;
  margin-left: auto;
  margin-right: auto;
}
.main .first-screen__title {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 70px;
}
.main .first-screen__img {
  width: 100%;
  align-self: center;
}
@media (min-width: 1441px) {
  .main .first-screen__title {
    font-size: 68px;
    margin-bottom: 58px;
  }
}
@media (max-width: 992px) {
  .main .first-screen__title {
    font-size: 33px;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .main .first-screen__title {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}
.main .overview {
  max-width: 48.7%;
}
.main .blog__img {
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .main .overview {
    max-width: 100%;
  }
}
@media (min-width: 1920px) {
  .main {
    max-width: 81.3%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .main {
    max-width: 91.2%;
  }
}
@media (max-width: 480px) {
  .main {
    max-width: 93.8%;
  }
}

.footer {
  padding: 70px 0 30px;
  background-color: #F4F4F4;
}
.footer__container {
  max-width: 81.3%;
  margin-left: auto;
  margin-right: auto;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  margin-bottom: 20px;
}
.footer__left_contacts_link {
  display: block;
  font-family: "Lato";
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
}
.footer__left_contacts_link:hover {
  text-decoration: underline;
}
.footer__left_contacts_link + .footer__left_contacts_link {
  margin-top: 15px;
}
.footer_question {
  margin-bottom: 30px;
  font-family: "Red Hat Display";
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.footer__socials {
  display: inline-flex;
  align-items: center;
  gap: 23px;
}
.footer__socials_link {
  border: 1px solid #565656;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.footer__socials_link:hover {
  background-color: #565656;
}
.footer__socials_link:hover .footer__socials_icon {
  fill: #fff;
}
.footer__socials_icon {
  fill: #565656;
}
.footer__copyright {
  text-align: center;
  font-family: "Lato";
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

@media (min-width: 1441px) {
  .footer {
    max-width: 81.3%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__left {
    margin-bottom: 40px;
  }
  .footer__socials {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .footer__copyright {
    max-width: 240px;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 19px;
  line-height: 32px;
}

.block {
  margin-bottom: 90px;
}
.block__subtitle {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 50px;
}
.block__text_inner {
  letter-spacing: 0.05em;
  color: #565656;
}
.block__text_inner:nth-child(1) {
  margin-bottom: 32px;
}

@media (min-width: 1441px) {
  .block__subtitle {
    font-size: 5.2rem;
  }
  .block__text_inner {
    font-size: 4.6rem;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .block {
    margin-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .block {
    font-size: 2.6rem;
    margin-bottom: 40px;
  }
  .block__text_inner {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=main.css.map */