* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #666;
}

.main__section {
  max-width: 1170px;
  margin: 122px auto;
}

.main__section__title-box {
  max-width: 450px;
  position: relative;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #FFCC00;
}

.main__section__title-box_subtitle {
  font-family: 'Raleway';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #898F8F;
  margin-bottom: 15px;
}

.main__section__title-box_title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.6rem;
  text-transform: uppercase;
  color: #FFCC00;
  margin-bottom: 40px;
}

.main__section__title-box_icon {
  position: absolute;
  top: 137px;
  min-width: 30px;
  text-align: center;
  background-color: #fff;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 560px;
}

.profile__photo {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  max-width: 430px;
  max-height: 430px;
}

.profile__photo_border-top--l {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  top: 0;
  left: 0;
  border-left: 1px solid #FFCC00;
  border-top: 1px solid #FFCC00;
}

.profile__photo_border-top--r {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  top: 0;
  right: 0;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
}

.profile__photo_border-bottom--l {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  bottom: 0;
  left: 0;
  border-left: 1px solid #FFCC00;
  border-bottom: 1px solid #FFCC00;
}

.profile__photo_border-bottom--r {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  bottom: 0;
  right: 0;
  border-right: 1px solid #FFCC00;
  border-bottom: 1px solid #FFCC00;
}

.profile__vl {
  width: 1px;
  height: 560px;
  background-color: #FFCC00;
}

.profile__info {
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.profile__info_title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.2rem;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #666;
}

.profile__info_hr {
  width: 100px;
  height: 1px;
  margin-bottom: 30px;
  border: none;
  background-color: #FFCC00;
}

.profile__info_subtitle {
  font-family: 'Raleway';
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 30px;
}

.profile__info_social_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  padding: 7px 0;
  margin-bottom: 50px;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile__info_social_link + .profile__info_social_link {
  margin-left: 5px;
}

.profile__info_social_link_icon {
  fill: #ccc;
}

.profile__info_social_link:hover .profile__info_social_link_icon {
  fill: #FFCC00;
}

.profile__info_social_link:hover {
  border-color: #FFCC00;
}

.profile__info_text {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.profile__info__decor {
  max-width: 90px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__info__decor_line {
  width: 10px;
  height: 4px;
  background-color: #FFCC00;
}

.profile__info__decor_line:nth-last-child(2) {
  margin: 0 5px;
  width: 20px;
}

.profile__info_link {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  border: 1px solid #FFCC00;
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile__info_link:hover {
  background-color: #FFCC00;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */